extends: default
ignore: |
  */cookiecutter/
  .github/workflows/
  .tox

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  document-start: disable
  line-length: disable
